.errorContainer {
    background-color: rgb(30, 31, 32);
}

.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
}

.errorHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.description {
    color: rgb(208, 214, 221);
    font-size: 20px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    color: white;
    font-size: 3rem;
}

.subTitle {
    color: white
}

.apiLink {
    color: rgb(98, 188, 245);
}

.contentContainer {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorNumber {
    color: rgb(190, 63, 63);
    font-size: 8rem;
}